<%= form_for ([@test,@question, @answer]) do |f| %>

    <% if @answer.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@answer.errors.count, "error") %> prohibited
            this answer from being saved:
          </h2>
          <ul>
            <% @answer.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label :Create_new_answer %><br>
      <%= f.text_area :answer %>
    </p>

    <p>
      <%= f.label :"Is correct?" %><br>
      <%= f.check_box :is_correct %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>